@import "tailwindcss" ;

root {
  padding: 0;
  margin: 0;  
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


@font-face {
  font-family: "Blazed";
  src: url("./fonts/Blazed.ttf") format("truetype");
}

.my-text-blazing {
  font-family: "Blazed", sans-serif;
}


@font-face {
  font-family: "Celtic";
  src: url("./fonts/Celtic.ttf") format("truetype");
}

.my-text-celtic {
  font-family: "Celtic", sans-serif;
}



@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter.ttf") format("truetype");
}

.my-text-inter {
  font-family: "Inter", sans-serif;
}



@font-face {
  font-family: "Sigmar";
  src: url("./fonts/Sigmar.ttf") format("truetype");
}

.my-text-Sigma {
  font-family: "Sigmar", sans-serif;
}



@theme{
  --breakpoint-*:initial;
  --breakpoint-sm:480px;
  --breakpoint-md:768px;
  --breakpoint-lg:976px;

  --font-celtic:Celtic;
  --font-blazed:Blazed;
  --font-inter:Inter;
  --font-sigmar:Sigmar;

  --color-primary:#9696a8;
  --color-secondary:#141261;
  --color-orange-500:#4287f5;
}





@layer base {
  *::-webkit-scrollbar {
    display: none;
    
  }
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  @layer utilities{
    .img-shadow{
      filter:drop-shadow(40px 50px 25px #0f1115);
    }
    .img-shadow-2{
      filter:drop-shadow(10px 30px 15px #0f1115);
    }
    .text-shadow{
      text-shadow: black 0 -3px;
    }
    .text-shadow-2{
      text-shadow: #bdcbd0 0 -3px;
    }
  }
  

  @layer base{
    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
    }
  
    .scrollbar-hidden {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      --font-celtic:Celtic,"sans-serif";
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}
